@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* ======COLORS====== */
:root {
  --clr-primary: hsl(171, 66%, 44%);
  --clr-secondary: hsl(233, 100%, 69%);
  --clr-dgrayishblue: hsl(210, 10%, 33%);
  --clr-grayishblue: hsl(201, 11%, 66%);
  --clr-footerbg: #f5f6f8;
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
}

/* ======FONT & TYPOGRAPHY====== */
:root {
  --semibold-font: 600;
  --regular-font: 400;

  --primary-family: "Bai Jamjuree", sans-serif;

  --xbig-font: 5rem;
  --big-font: 2.2rem;
  --medium-font: 2rem;
  --normal-font: 1.8rem;
  --small-font: 1.6rem;
  --xsmall-font: 1.4rem;
}
@media (max-width: 768px) {
  :root {
    --xbig-font: 4rem;
    --big-font: 2rem;
    --medium-font: 1.8rem;
    --normal-font: 1.6rem;
    --small-font: 1.4rem;
    --xsmall-font: 1.2rem;
  }
}

/* ======Z-INDEX====== */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ======ANIMATIONS====== */
@keyframes scrollA {
  from {
    opacity: 1;
    bottom: 8.5%;
  }
  to {
    bottom: 5%;
    opacity: 0.1;
  }
}

/* =======BASE====== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-weight: var(--regular-font);
  font-family: var(--primary-family);
}

ul {
  list-style-type: none;
}

a[class] {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  max-width: 1200px;
  margin: 10rem auto;
  padding: 0 1rem;
}

/* ======CLASSES====== */
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 1.5rem 5rem;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--clr-white);
  font-weight: var(--regular-font);
  font-size: var(--normal-font);
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  color: var(--clr-black);
  box-shadow: 0px 0px 5px rgb(118, 118, 118);
}

.title {
  color: var(--clr-dgrayishblue);
}

.subtitle {
  color: var(--clr-grayishblue);
}

.section-title {
  text-align: center;
  font-size: var(--big-font);
  font-weight: var(--semibold-font);
}
.section-subtitle {
  text-align: center;
  margin: 1.25rem auto 0 auto;
  max-width: 768px;
  font-size: var(--medium-font);
  font-weight: var(--regular-font);
  line-height: 1.2;
}

/* ======STYLES====== */

/* ===HOME=== */
.home {
  height: 100vh;
  background: url(../images/bg-header-desktop.png) no-repeat center center/cover;
  display: grid;
  place-items: center;
  position: relative;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  border: 4px solid var(--clr-dgrayishblue);
  width: 25px;
  height: 40px;
  border-radius: 20px;
}

.home::before {
  content: "";
  background-color: var(--clr-grayishblue);
  position: absolute;
  bottom: 8.5%;
  left: 50%;
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  border-radius: 20px;
  animation: scrollA 1.4s infinite;
}

.home-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content > * {
  margin: 1.5rem 0;
}

.home-logo {
  max-width: 130px;
}

.home-heading {
  font-size: var(--xbig-font);
  font-weight: var(--semibold-font);
  /*   margin: 1rem 0; */
}

.home-subheading {
  width: 60%;
  font-size: var(--big-font);
  font-weight: var(--regular-font);
}

.btn-primary {
  background-color: var(--clr-primary);
}

.btn-secondary {
  margin-left: 2rem;
  background-color: var(--clr-secondary);
}

/* ===SECTION-1=== */
.section-content {
  margin-top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.computer {
  max-width: 550px;
}

.feature-wrapper {
  min-height: 100%;
  padding: 0 3rem;
}

.feature {
  text-align: left;
  margin-bottom: 3rem;
}

.feature-title {
  font-size: var(--medium-font);
}

.feature-subtitle {
  max-width: 390px;
  font-size: var(--normal-font);
}

/* ===SECTION-2=== */
.devices {
  margin: 10rem auto 0 auto;
  max-width: 768px;
}

/* ===SECTION-3=== */
.card-wrapper {
  margin: 10rem 0;
}

.card-icon {
  width: 60px;
  margin-bottom: 1.5rem;
}

.card {
  min-height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-title {
  margin-top: auto;
  font-size: var(--normal-font);
}

.card-subtitle {
  max-width: 400px;
  font-size: var(--small-font);
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client {
  max-width: 140px;
}

/* ===SECTION-4=== */
.section-4 {
  margin: 20rem auto;
  flex-direction: column;
}

.sec4-calls {
  margin-top: 5rem;
}

/* ===FOOTER=== */
.footer {
  padding: 1rem;
  min-height: 20vh;
  background-color: var(--clr-footerbg);
  display: flex;
  align-items: center;
}

.footer-container {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  max-width: 60px;
}

.footer-links {
  width: 90%;
  display: flex;
}

.footer-list {
  margin-left: 7.5rem;
}

.footer-list a {
  display: block;
  margin-bottom: 1.5rem;
  font-size: var(--medium-font);
  color: var(--clr-dgrayishblue);
  transition: color 0.3s;
}

.footer-list a:hover,
.footer-list a:focus,
.social-media i:hover,
.social-media i:focus {
  color: var(--clr-primary);
}

.social-media {
  display: flex;
}

.social-media i {
  font-size: 3rem;
  padding: 0 2rem;
  transition: color 0.3s;
}

/* ======MEDIAQUERIES====== */

@media (max-width: 768px) {
  .home {
    background: url(../images/bg-header-mobile.png) no-repeat center
      center/cover;
  }

  .home::after,
  .home::before {
    display: none;
  }

  .btn {
    margin-bottom: 1rem;
  }

  .home-calls,
  .sec4-calls {
    display: flex;
    flex-direction: column;
  }

  .btn-secondary {
    margin: 0;
  }

  .section-content {
    flex-direction: column;
  }

  .feature {
    margin: 5rem 0;
    text-align: center;
  }

  .card-wrapper {
    flex-direction: column;
  }

  .card {
    margin-bottom: 5rem;
  }

  .clients {
    flex-direction: column;
  }

  .client:not(:last-child) {
    margin-bottom: 7.5rem;
  }

  .footer-logo {
    margin-bottom: 5rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-list {
    margin-left: 0;
  }

  .footer-links {
    margin-bottom: 2rem;
    text-align: center;
    flex-direction: column;
  }
}
